header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  .menu, .user {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #21262E;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .icon-menu {
    font-size: 14px;
  }
    .icon-menu::before {
      color: rgba(255, 255, 255, 0.18);
    }

  
  .header-menu-close{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }
  a {
    color: #fff;
  }
  